In [3]:
import pandas as pd

In [4]:
titanic_df = pd.read_csv('titanic_train.csv')

In [5]:
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [10]:
df = titanic_df['Name']
display(df.head(3))
print(type(df))

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
Name: Name, dtype: object

<class 'pandas.core.series.Series'>

In [ ]:
data = {'Name' : ['kim', 'min', 'chang']
        'Year' : ['10','12','9']
        'Gender' : ['M','W','W']}
data_df = pd.DataFrame(data,index = ['One',])

In [1]:
import os
print("join(): " + os.path.join(os.path.abspath(os.path.dirname(__file__)), "file.py"))

NameError: name '__file__' is not defined

In [2]:
print(__file__)

NameError: name '__file__' is not defined